body h1{
    text-align: center;
}
.row{
    margin: 20px;
}
form{
    text-align: center;
    width: 100%;
}
.book-author ul, .book-price ul, .book-info ul, .book-name ul{
    margin: auto;
    width: fit-content;
}
.no-dots li{
    list-style: none;
}
li{
    margin-top: 10px;
}
.btn{
    margin-top: 5px;
    width: fit-content;
}
img{
    display: grid;
    margin: auto;
    margin-bottom: 10px;
    max-width: 450px;
}